<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .chat_list {
            display: flex;
            flex-direction: row;
        }

        .chat_people {
            display: flex;
            align-items: center;
            border: 1px solid black;
            width: 20%;
            margin: 3px;
        }
    </style>
</head>
<body>
    <form method="get">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control-sm" placeholder="ユーザ名で検索" name="search"
                saria-describedby="basic-addon2">
            <button type="submit" class="btn btn-success ml-2">検索</button>
        </div>
    </form>
    {% for friend in friends %}
            <a href="{% url 'chat:get_message' friend.username %}">
        
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="{{ friend.thumbnail.url }}" alt="sunil" style="width: 30px; height: auto;">
                        </div>
                        <div class="chat_ib">
                            <h5 style="margin-left: 10px;">{{friend.username}}</h5>
                        </div>
                    </div>
                </div>
            </a>
    {% endfor %}
</body>
</html>
