{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'myapp/css/base.css' %}" />
    <title>DeMiAインターン</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <span class="header-container__title">パスワードリセット</span>
      </div>
    </header>
    <h1>
      {% if token_fail %}
        不正トークン
      {% else %}
        パスワードリセット
      {% endif %}
    </h1>
    {% if token_fail %}
      {% url "account_reset_password" as passwd_reset_url %}
      <p>
        このパスワード用リンクは無効になっています。<a href="{{ passwd_reset_url }}">パスワードリセット再申請</a>
      </p>
    {% else %}
      {% if form %}
        <form action="{{ action_url }}" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit">変更</button>
        </form>
      {% else %}
        <p>パスワードは変更されています。</p>
      {% endif %}
    {% endif %}
  </body>
</html>
