html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0 auto;
    width: 800px;
    height: 100%;
}
/* .container{
    position: relative;
    min-height: 100vh;
    padding-bottom: 64px; 
} */

.container{
    width: 100%;
    position: relative;
    min-height: 100vh;
}
.body_container {
    width: 100%;
    position: relative;
    padding-top: 64px; /* ヘッダー分 */
    padding-bottom: 64px; /* フッター分 */
}

/* ヘッダー */
.header{
    width: 800px;
    height: 64px;
    border-bottom: solid 1px black;
    background-color: #cccccc;
    position: fixed;
    z-index: 50;
}
.header-container{
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header-container__title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    line-height: 1rem;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
}

/* main */

/* フッター */
.footer{
    /* width: 100%; */
    width: 800px;
    height: 64px;
    border-top: solid 1px black;
    background-color: #cccccc;
    /* position: absolute; */
    position: fixed;
    bottom: 0;

}
.footer-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.footer-container__item {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-item__link{
    width: 100%;
    text-decoration: none;
}
.footer-item__text {
    font-size: 0.8rem;
    color: #000;
} 
