body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding-bottom: 8vh;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
    margin: 0;
}

.header {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid rgb(115, 115, 115);
}

.main {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.footer {
    border-top: 1px solid rgb(115, 115, 115);
    position: absolute;
    bottom: 0;
    background-color: rgb(235, 235, 235);
    width: 100vw;
    height: 8vh;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.footer-container {
    display: flex;
    position: relative;
    text-align: center;
    width: 80vw;
    justify-content: space-around;
}

.footer-icon {
    width: 30px;
}

.footer-item__icon, .footer-item__text {
    display: block;
    color: black;
}