.search_username_form {
    position: fixed;
    top: 80px;
    padding:0;

}
.search_username {
    width: 93%;
}
.profile_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

ul{
    position:relative;
    top: 35px;
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 5px;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}

.friend_link {
    width: 100%;
}

.friend_information {
    position: relative;
    padding-left: 8px;
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #a9a9a9;
}

.friend_name {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 4px;
}

.friend_name_text {
    font-weight: bold;
    font-size: 13px;
    margin: 0px;
}

.friend_message {
    display: block;
    position: absolute;
    top: 25px;
    left: 67px;
}

.friend_time {
    position: absolute;
    top: 10px;
    right: 5px;
}

