.login {
    background-color: #007bff; /* 背景色 */
    color: black;              /* 文字色 */
    padding: 10px 20px;       /* パディング */
    border: none;             /* ボーダーなし */
    border-radius: 12px;      /* 角を丸くする */
    font-size: 16px;          /* フォントサイズ */
    cursor: pointer;          /* ポインタカーソル */
    text-decoration: none;    /* 下線を消す */
    position: absolute;
    top: 40%;                 /* 上から50% */
    left: 50%;                /* 左から50% */
    transform: translate(-50%, -50%); /* 自身の幅と高さの半分だけ移動 */
}

.singup {
    background-color: #007bff; /* 背景色 */
    color: black;              /* 文字色 */
    padding: 10px 20px;       /* パディング */
    border: none;             /* ボーダーなし */
    border-radius: 12px;      /* 角を丸くする */
    font-size: 16px;          /* フォントサイズ */
    cursor: pointer;          /* ポインタカーソル */
    text-decoration: none;    /* 下線を消す */
    position: absolute;
    top: 50%;                 /* 上から50% */
    left: 50%;                /* 左から50% */
    transform: translate(-50%, -50%); /* 自身の幅と高さの半分だけ移動 */
}