* {
    box-sizing: border-box;
}

.form-container {
    margin: 7vh auto 0;
}

table {
    margin: 0 auto;
    padding: 0 5vh;
}

td {
    padding: 1vh 0;
    text-align: left;
    font-weight: normal;
}

input {
    width: 100%;
}