.header{
    width: 100%;
    border-bottom: solid #000000 1px;
}

.header > p{
    text-align: center;
    display: block;
}

.login-form p{
    width: max-content;
    margin: 20px auto ;
}

.login-button-wrapper{
    width: max-content;
    margin: 30px auto 0;
}

.login-button{
    padding: 10px 15px;
    background-color: #fff;
    cursor: pointer;
}