* {
    box-sizing: border-box;
}

.form-container {
    display: block;
    margin: 7vh auto 0;
}

.username-change-table {
    margin: 0 auto;
    padding: 0 5vw;
}

input {
    width: 100%;
}

td {
    padding: 1vh 0;
}