p{
    padding: 10px;
}

form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    display: flex;
    width: 100%;
}

form div input{
    margin-left: auto;
}

form button{
    width: 60%;
    margin-top: 10px;
}