form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    margin-top: 10px;
}

.form-group input {
    margin-left: auto;
}

form button {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

form a{
    margin: auto;
}