@import "base.css";
.container .btn{
    display: block;
    text-align: center;
    width: 200px;
    height: 60px;
    color: black;
    margin: 30px auto 20px;
    padding: 3px 0;
    font-size: 18px;
    background-color: rgb(201, 255, 188);
    border: 3px solid rgb(43, 255, 0);
    border-radius: 2vh;
}