body {
    width: 375px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid #000;
}

.btn{
    width: 5rem;
    margin: 2rem auto;
    border: solid 2px #999;
    border-radius: 0.5rem;
    background-color: #fff;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: #000;
}

h1{
    text-align: center;
}

hr{
    height: 2px;
    background-color: #999;
}