{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'diary/css/base.css' %}">
    {% block extra_style %}{% endblock %}
</head>
<body>
    <div class="nav">
        <a href="{% url 'diary:index' %}">Private Diary</a>
        <a href="{% url 'diary:inquiry' %}">Inquiry</a>
    </div>
    {% block header %}
    <header>
        <div class="header">diary</div>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    {% block footer %}
    <footer>
        <div class="footer">made by renhajiyama</div>
    </footer>
    {% endblock %}
</body>
</html>