{% extends 'myapp/base/base.html'%}
{% load static %}
{% block extra-styles %}
<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
{% endblock %}
{% block title %}ログイン{% endblock %}
{% block header_left %}
<a href="{% url 'myapp:index' %}" class="back-button">
    <div class="inner-text">戻る</div>
</a>
{% endblock %}
{% block header-title %}ログイン{% endblock %}
{% block content %}
<div class="form-container">
    {% if form.errors %}
    <p class="error-notification">以下のエラー箇所を修正してください。</p>
    {{ form.errors }}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="button35">ログイン</button>
    </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}