{% extends "account/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/logout.css' %}">
{% endblock %}

{% block header-title %}
ログアウト
{% endblock %}

{% block content %}
<form action="{% url 'account_logout' %}" method="post" class="login-form">
    {% csrf_token %}
    <p>ログアウトしますか</p>
    {% if redirect_field_value %}
        <input type='hidden' name='{{ redirect_field_name }}' value='{{redirect_field_value}}' />
    {% endif %}

    <button type="submit" class="submit">ログアウト</button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}