{% extends "myapp/base.html" %}
{% load static %}
{% load i18n %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}

{% block title %}パスワード再設定 | Chatapp{% endblock %}
{% block header-title %}パスワード再設定{% endblock %}

{% block content %}
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="field">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div>{{ field }}</div>
            <div class="errors">{{ field.errors }}</div>
        </div>
    {% endfor %}
    <div class="submit-button">
        <input type="submit" value="再設定">
    </div>
</form>
{% endblock %}

{% block footer %}
{% if user.is_authenticated %}
    {{ block.super }}
{% endif %}
{% endblock %}