{% extends 'myapp/base.html' %}

{% block header-title %}パスワードの再設定{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_password1">新しいパスワード</label>
      {{ form.password1 }}
    </div>

    {% if form.password1.errors %}
      <ul class="error-list">
        {% for error in form.password1.errors %}
          <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="form-group">
      <label for="id_password2">新しいパスワード（確認用）</label>
      {{ form.password2 }}
    </div>

    {% if form.password2.errors %}
      <ul class="error-list">
        {% for error in form.password2.errors %}
          <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <button type="submit">パスワードを再設定する</button>
    <a href="{% url 'account_login' %}">ログイン画面に戻る</a>
  </form>

{% endblock %}

{% block extra_style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'myapp/css/password_reset_from_key.css' %}" />
{% endblock %}
