{% extends 'account/base.html' %}
{% load static %}

{% block title %}パスワードリセット{% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <h1>パスワードリセット</h1>
            {% if user.is_authenticated %}
            {% include "myapp/snippets/already_logged_in.html" %}
            {% endif %}

            <p>パスワードリセット用メールを送信します</p>
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                <button type="submit">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}