{% extends 'account/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/password_reset_from_key.css' %}">
{% endblock %}


{% block header-title %}パスワードリセット{% endblock %}

{% block content %}
    {% if token_failed %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>このパスワードリセット用リンクは無効になっています。<a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
    {% else %}
        {% if form %}
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                <div class="password-reset-from-key-eror">
                    {% for field in form %}
                    {{field.errors}}
                    {% endfor %}
                </div>

                <div class="form">
                    {{form.password1}}
                </div>

                <div class="form">
                    {{form.password2}}
                </div>
                
                <button type="submit" class="submit">変更</button>
            </form>
                
        {% else %}
            <p>パスワードは変更されています</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer%}{% endblock %}