{% extends 'account/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/password_reset.css' %}">
{% endblock %}


{% block header-title %}パスワードリセット{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% include 'account/snippets/already_logged_in.html' %}
    {% endif %}

    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <p>パスワードリセット用メールを送信します</p>
        {% for field in form %}
        <div class="form">
            {{field}}
        </div>
        {% endfor %}
        
        <button type="submit" class="submit">送信</button>
    </form>
{% endblock %}

{% block footer%}{% endblock %}