{% extends "myapp/base.html" %}
{% load static %}
{% load i18n %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}

{% block title %}パスワード再設定 | Chatapp{% endblock %}
{% block header-title %}パスワード再設定{% endblock %}

{% block content %}
<p>
    パスワードが再設定されました。
</p>
<div class="link">
    <a href="{% url 'account_login' %}">ログイン</a>
</div>
{% endblock %}

{% block footer %}
{% if user.is_authenticated %}
    {{ block.super }}
{% endif %}
{% endblock %}