{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>サインアップ</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'account_signup' %}">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_name }}">
            {% endif %}
            <div class="mb-3">
                {{ form.thumbnail.label_tag }}
                {{ form.thumbnail }}
            </div>

            <button type="submit">登録</button>
        </form>
    </div>
</body>
</html>