{% extends "base.html" %}
{% load static %}

{% block extra_style %}
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/talk_room.css' %}">
{% endblock %}

{% block header %}
<header class="header">
    <div class="header-container">
        <a href="{% url 'myapp:friends' %}" class="header-container__back"><i class="fas fa-chevron-circle-left"></i></a>
        <span class="header-container__title">
            {% block header-title %}{{ friend.username }}{% endblock %}
        </span>
        <a href="" class="talk_room__reload">更新</a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="talk_room">
    <!-- トークの表示部分 -->
    <ul class="chatboard" id="chatboard">
        
        {% for talk in talks %}
            <li class="chatboard__content">
                {% if talk.talk_from == user %}
                    {% if user.icon %}
                        <img class="friend__usericon" src="{{ user.icon.url }}">
                    {% else %}
                        <img class="friend__usericon" src="{% static 'img/people-24px.svg' %}">
                    {% endif %}
                {% elif talk.talk_from == friend %}
                    {% if friend.icon %}
                        <img class="friend__usericon" src="{{ friend.icon.url }}">
                    {% else %}
                        <img class="friend__usericon" src="{% static 'img/people-24px.svg' %}">
                    {% endif %}
                {% endif %}
                <p class="chatboard__name">＞{{ talk.talk_from }}</p>
                <p class="chatboard__text">{{ talk.talk }}</p>
                <p class="chatboard__time">{{ talk.time|date:"m/d" }} {{ talk.time|date:"H:i" }}</p>
            </li>
        {% endfor %}
    </ul>

    <!-- トークの送信部分 -->
    <div class="text-container">
        <input id="chat-message-input" class="chat-message-input" type="text">
        <input class="chat-message-submit" type="button" value="送信">
    </div>

    <!-- トークの送信部分 -->
    
</div>
{% endblock %}

{% block footer %}{% endblock %}


{% block script %}
{{ friend.id|json_script:'friend' }}
{{ user.id|json_script:'user' }}
<script type='text/javascript' src="{% static 'js/talk_room.js' %}"></script>
{% endblock %}
