body {
    position: relative;
    height: 100vh; /* ビューポートの高さを100% */
    margin: 0;     /* デフォルトのマージンを削除 */
    overflow: hidden; /* コンテンツがはみ出さないようにする */
}

.login-button {
    background-color: white; /* 背景色 */
    color: black;              /* 文字色 */
    padding: 10px 20px;       /* パディング */
    border: solid;             /* ボーダーなし */
    border-radius: 12px;      /* 角を丸くする */
    font-size: 16px;          /* フォントサイズ */
    cursor: pointer;          /* ポインタカーソル */
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%); /* 自身の幅と高さの半分だけ移動して中央にする */
}

.register-button {
    background-color: white; /* 背景色 */
    color: black;              /* 文字色 */
    padding: 10px 20px;       /* パディング */
    border: solid;             /* ボーダーなし */
    border-radius: 12px;      /* 角を丸くする */
    font-size: 16px;          /* フォントサイズ */
    cursor: pointer;          /* ポインタカーソル */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 自身の幅と高さの半分だけ移動して中央にする */
}