{% load static %}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- IEの互換モードの無効化 -->
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0"> <!-- レスポンシブデザインのため -->
    <link rel="shortcut icon" href=""><!-- rel="shortcut icon"でファビコン -->
    <link rel="apple-touch-icon" href=""><!-- rel="apple-touch-icon"でタッチアイコン -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href=" {% static 'myapp/css/base.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="header">
        {% block header-button1 %}
        {% endblock %}
        <h2>
            {% block header-title %}{% endblock %}
        </h2>
        {% block header-button2 %}
        {% endblock %}
    </div>


    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

</body>
</html>
