{% extends 'myapp/base.html' %}

{% block header-title %}パスワードの変更{% endblock %}

{% block content %}
  <form action="{% url 'change_password' %}" method="POST">
    {% csrf_token %}
    <div class="form-item">
      <label for="old_password">旧パスワード</label>
      <input type="old_password" name="old_password" id="old_password" required />
    </div>

    <div class="form-item">
      <label for="new_password1">新パスワード</label>
      <input type="new_password1" name="new_password1" id="new_password1" required />
    </div>

    <div class="form-item">
      <label for="new_password2">新パスワード(確認用)</label>
      <input type="new_password2" name="new_password2" id="new_password2" required />
    </div>

    <button type="submit" class="submit-btn button">変更</button>

    {% if form.non_field_errors %}
      <div>
        <ul>
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block extra_style %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/change-user.css' %}" />
{% endblock %}
