{% extends 'myapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/change.css' %}" >
{% endblock %}

{% block header-title %}パスワード{% endblock %}

{% block content %}
    <div class="context">
        <br>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <table>
                <tr>
                    <tr>
                        <td>Old Password:</td>
                        <td>{{ form.old_password }}</td>
                    </tr>
                    <tr>
                        <td>New Password:</td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>New Password Confirmation:</td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                </tr>
            </table>
            <button type='submit'>更新</button>
            {% for error in form.non_field_errors %}
            {{ error }}<br><br>
        {% endfor %}
        </form>
    </div>
{% endblock %}