{% extends 'myapp/base/header_nav_base.html' %}
{% load static %}
{% block extra-styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'myapp/css/base/form.css' %}">
{% endblock %}
{% block title %}メールアドレス追加{% endblock %}
{% block header_left %}
<a href="{% url 'myapp:setting' %}" class="back-button">
    <div class="inner-text">戻る</div>
</a>
{% endblock %}
{% block header-title %}メールアドレス追加{% endblock %}
{% block content %}
<div class="form-container">
    <p>※メールアドレスを追加した場合、次回ログイン時に確認メールが送付されます。</p>
    {% if form.errors %}
    <p class="error-notification">以下のエラー箇所を修正してください。</p>
    {{form.errors}}
    {% endif %}
    <form method="post" class="email-add-form" autocomplete="off" action="">
        {% csrf_token %}
        <div class="field-container">
            <label>現在のメールアドレス</label>
            <div class="field">{{ user.email }}</div>
        </div>
        {% for field in form %}
        <div class="field-container">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="field">{{ field }}</div>
        </div>
        {% endfor %}
        <button type='submit' class="button35">追加</button>
    </form>
</div>
{% endblock %}