{% extends 'myapp/base/base.html' %}
{% load static %}
{% block extra-styles %}
<link rel="stylesheet" href="{% static 'myapp/css/email_change.css' %}">
{% endblock %}
{% block title %}
メールアドレス変更
{% endblock %}
{% block header_left %}
<a href="{% url 'myapp:setting' %}" class="back-button">
    <div class="inner-text">戻る</div>
</a>
{% endblock %}
{% block header-title %}メールアドレス変更{% endblock %}
{% block content %}
<div class="form-container">
    <form method="post" class="email-change-form">
        {% csrf_token %}
        <table class="email-change-table">
            <tr>
                <td>現在のメールアドレス：</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>{{ form.email.label }}： </td>
                <td>{{ form.email }}</td>
            </tr>
        </table>
        {{ form.errors }}
        <button type='submit' class="button35">変更</button>
    </form>
</div>
{% endblock %}