{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}">
    <title>フレンド</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %}友達{% endblock %}
            </span>
        </div>
    </header>

    {% for user_data in users %}
    <a href="{% url 'talk_room' username=user_data.user.username %}" class="user-link">
        <div class="user-container">
            <div class="img-container">
                <img src="{{ user_data.user.image.url }}" alt="ユーザーアイコン" class="user-icon">
            </div>
            <div class="info-container">
                <div class="talk-username">
                    <strong>{{ user_data.user.username }}</strong>
                </div>
                <div class="talk-info">
                    {% if user_data.has_talked %}
                        <p class="latest-talk">{{ user_data.latest_talk }}</p>
                        <span class="talk-time">{{ user_data.latest_talk_time|date:"H:i" }}</span>
                    {% else %}
                        <span class="latest-talk empty-space">_</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container__item">
                <a href="{% url 'friends' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span>
                    <span class="footer-item__text">友達</span>
                </a>
            </div>
            <div class="footer-container__item">
                <a href="{% url 'setting' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                    <span class="footer-item__text">設定</span>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>