{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/namechange.css' %}">
{% endblock %}
{% block header %}
<header class="header">
    アイコン変更
</header>
{% endblock %}
{% block content %}
<body>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token %}
        <table>
            <div class="login-form">
                {{form.as_table}}
            </div>
        </table>
        <button  type="submit">変更</button>    
    </form>
</body>
{% endblock %}
</html>
