{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeMiAインターン</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'myapp/css/index.css' %}" />
</head>
<body>
    <p class="login"><a href="{% url 'login_view' %}" class="item">ログイン</a></p>
    <p class="signup"><a href="{% url 'signup_view' %}" class="item">会員登録</a></p>
        <!-- ここのurlはurlpatternsでのnameを参照していることに注意 -->
</body>
</html>
