{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/logout.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>ログアウト</title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %}ログアウト{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    <div class="main">
        <h2>ログアウトしました。</h2>
        <p><a href="{% url 'myapp:index' %}">トップページへ戻る</a></p>
    </div>
    {% endblock %}
</body>
</html>
