{% extends "myapp/base.html" %}

{% block header_title %}メールアドレス変更{% endblock %}

{% block content %}
<form method="post" action="{% url 'mail_change' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td>
        </tr>
    </table>
    <button type="submit">変更</button>
    {% if form.errors %}
        <div>
            {% for field in form %}
            {{ field.errors }}
            <br>
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}