{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/one_time_pass.css' %}">
{% endblock %}

{% block header_title %}ワンタイムパスワード認証{% endblock %}

{% block content %}
{# ワンタイムパスワード処理部分 #}
<form method="POST" action="{% url 'one_time_pass' %}" class="login-form">
    {% csrf_token %}
    <div class="login-form__username">
        <label>ワンタイムパスワード:</label>
        {{ form }}
    </div>
    <div>
        {% if errormessage %}
        {{ errormessage }}
        {% endif %}
    </div>
    <button type="submit" class="login-form__submit">ログイン</button>
</form>

{% endblock %}

{% block footer %}{% endblock %}