{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/password_change.css' %}">
{% endblock %}
{% block title %}
<title>チャットアプリ | パスワード変更</title>
{% endblock %}
{% block header-title %}
パスワード変更
{% endblock %}
{% block content %}
<h2>Password Change</h2>
<form method="post" style="padding-left:20px;" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
</form>
{% endblock %}