{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/password_change_done.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>パスワード</title>
</head>
<body>
    <div class="container">
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %}パスワード{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    <div class="body_container">
    {% block content %}
    <div class="main">
        <p>パスワード変更完了</p>
    </div>
    {% endblock %}
    </div>

    {% block footer %}
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container__item">
                <a href="{% url 'myapp:friends' %}" class="footer-item__link">
                    <div class="footer-item__icon"><img class="footer_icon" src="{% static 'myapp/img/people-24px.svg' %}"></div>
                    <div class="footer-item__text">友達</div>
                </a>
            </div>
            <div class="footer-container__item">
                <a href="{% url 'myapp:setting' %}" class="footer-item__link">
                    <div class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></div>
                    <div class="footer-item__text">設定</div>
                </a>
            </div>
        </div>
    </footer>
    {% endblock %}
    </div>
</body>
</html>
