{% extends 'myapp/base.html' %}

{% block header %}
    <header class="header">
        <div class="header-container flex items-center">
            <span class="header-container__title">
                {% block header-title %}友達{% endblock %}
            </span>
            <div class="my-3 absolute right-3">
                <form action="" method="get">
                    <input name="query" value="{{ request.GET.query }}" type="text" class="shadow border-gray-500 border rounded text-black leading-tight focus:outline-none focus:shadow-outline">
                    <button type="submit" class="px-2 py-1 bg-blue-400 text-white font-semibold rounded hover:bg-blue-500">検索する</button>
                </form>
            </div>
        </div>
    </header>
    {% endblock %}

{% block content %}
{% for friend,talk in friends %}
<a href="{% url 'myapp:detail' friend.pk %}" class="p-5 flex border-b border-gray-300 border-solid items-center">
    <div class="pr-3"><img class="h-8 w-8 object-cover rounded-full bg-gray-600" src="{{friend.image.url}}"></div>
    <div>
        <p>{{friend.username}}</p>
        <div class="text-xs">{{talk.content}}</div>
    </div> 
    <p class="absolute right-5 text-xs">{{talk.created_at}}</p>
</a>
{% endfor %}

{% for friend in never_talked_friends %}
<a href="{% url 'myapp:detail' friend.pk %}" class="p-5 flex border-b border-gray-300 border-solid items-center">
    <div class="pr-3"><img class="h-8 w-8 object-cover rounded-full bg-gray-600" src="{{friend.image.url}}"></div>
    <p>{{friend.username}}</p>
</a>
{% endfor %}
{% endblock %}
