{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}
{% block title %}Setting Profile Image | Chatapp{% endblock %}
{% block header-title %}Change profile image{% endblock %}

{% block content %}
<div class="image-container">
    <p>Current Image</p>
    <img src="/media/{{ currentimage }}" class="user-image">
    <p>{{ currentimage }}</p>
</div>
{% if completed %} <!--完了画面-->
    <div id="completed">Setting completed.</div>
{% else %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
            <label class="form-label">Image:</label>
            <input type="file" name="image" accept="image/*" id="id_image">
            <div class="errors">{{ form.image.errors }}</div>
        </div>
        <div id="submit-button">
            <input type="submit">
        </div>
    </form>
{% endif %}
{% endblock %}

