{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}

{% block header-title %}設定{% endblock %}

{% block content %}
<p>
<button>
<a href="{% url 'username_change' %}">ユーザー名変更</a>
</button>
</p>

<p>
<button>
<a href="{% url 'email_change' %}">メールアドレス変更</a>
</button>
</p>

<p>
<button>
<a href="{% url 'icon_change' %}">アイコン変更</a>
</button>
</p>

<p>
<button>
<a href="{% url 'password_change' %}">パスワード変更</a>
</button>
</p>

<p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
</form>
</p>
{% endblock %}
