{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}
{% block title %}Setting Password | Chatapp{% endblock %}
{% block header-title %}Change password{% endblock %}

{% block content %}
{% if completed %} <!--完了画面-->
    <div id="completed">Setting completed.</div>
{% else %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="field">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                <div class="errors">{{ field.errors }}</div>
            </div>
        {% endfor %}
        <div id="submit-button">
            <input type="submit">
        </div>
    </form>
{% endif %}
{% endblock %}

