{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" >
{% endblock %}

{% block header-title %}設定{% endblock %}

{% block content %}

<a href="{% url 'myapp:username_update'%}">
    <div class="button">
        <button>ユーザー名変更</button>
    </div>
</a>
<a href="{% url 'myapp:email_update'%}">
    <div class="button">
        <button>メールアドレス変更</button>
    </div>
</a>
<a href="{% url 'myapp:img_update'%}">
    <div class="button">
        <button>アイコン変更</button>
    </div>
</a>
<a href="{% url 'myapp:password_update'%}">
    <div class="button">
        <button>パスワード変更</button>
    </div>
</a>
<form method="POST" action="{% url 'myapp:logout_view' %}" class="logout_button">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
</form>
{% endblock %}