{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting_username.css' %}"/>
  <title>チャットアプリ</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                ユーザー名
            </span>
        </div>
    </header>

    <form action="example.com" method="POST">
        <label>Type your new username: <input type="text"></label>        
        <br>
        <input type="submit" value="送信">
    </form>

    <div class="footer-container">
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container__item">
                <a href="{% url 'friends' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span>
                    <span class="footer-item__text">友達</span>
                </a>
            </div>
            <div class="footer-container__item">
                <a href="{% url 'setting' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                    <span class="footer-item__text">設定</span>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>

