{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}
{% block title %}設定 | Chatapp{% endblock %}
{% block header-title %}プロフィール画像変更{% endblock %}

{% block content %}
<div class="image-container">
    <p>現在の画像</p>
    <img src="{{ user.image.url }}" class="user-image">
    <p>{{ user.image }}</p>
</div>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field">
        <label class="form-label">画像</label>
        <div><input type="file" name="image" accept="image/*" id="id_image"></div>
        <div class="errors">{{ form.image.errors }}</div>
    </div>
    <div class="submit-button">
        <input type="submit" value="変更">
    </div>
</form>
{% endblock %}

