{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}
{% block title %}Setting Username | Chatapp{% endblock %}
{% block header-title %}Change username{% endblock %}

{% block content %}
{% if completed %} <!--完了画面-->
    <div id="completed">Setting completed.</div>
{% else %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
            <label class="form-label" for="{{ field.id_for_label }}">{{ form.username.label }}:</label>
            {{ form.username }}
            <div class="errors">{{ form.username.errors }}</div>
        </div>
        <div id="submit-button">
            <input type="submit">
        </div>
    </form>
{% endif %}
{% endblock %}