{% load static django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <main>
        <div class="container">
            <h1 class="display-4 text-primary">サインアップ</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="登録" %}
            </form>
        </div>
    </main>
</body>
</html>