{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'myapp/css/talk_room.css' %}">
    <title>talk_room</title>
</head>
<header>
    <a href="{% url 'friends' %}"><div class="return">&lt;</div></a>
    <div class="title">{{ opponent.username }}</div>
    <a href="{% url 'talk_room' user_id %}"><div class="update">更新</div></a>
</header>
<body>
    {% for value in msgs %}
    {% if value.sender == himself %}
    <div class="right"><div class="time">{{ value.arrived_at }}</div><p>{{ value.message }}</p><img src="{{ himself.image.url }}" class="icon"></div>
    {{ himself_inf }}
    {% else %}
    <div class="left"><img src="{{ opponent.image.url }}" class="icon"><p>{{ value.message }}</p><div class="time">{{ value.arrived_at }}</div></div>
    {% endif %}
    {% endfor %}
    <div class="space"></div>
</body>
<footer>
    <form action="{% url 'talk_room' user_id %}" method="post">
         {% csrf_token %}
    <div class="foot_flex">
    <div class="form">{{ form.message }}</div>
    <input type="submit" value="送信" class="submit">
    </div>
    </form>
</footer>
</html>