{% extends "myapp/base.html" %}
{% load static %}
{% block header-title %}{{ friend.username }}{% endblock %}
{% block content %}
    <a href="{% url 'talk_room' friend.id %}">更新</a>

    <ul>
        {% for talk in talks %}
        <li>
            <p>
            > {{ talk.sender.username }}
            </p>
            <p>
            {{ talk.message }}
            </p>
            <p>
                {{ talk.time|date:"m/d" }}
                <br>
                {{ talk.time|date:"H:i" }}
            </p>
        </li>
        {% endfor %}
    </ul>

    <form action="{% url 'talk_room' friend.id %}" method="POST">
        {% csrf_token %}
        {{ form.message }}
        <buttond type="submit">送信</buttond>
    </form>
{% endblock %}
