{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/update.css' %}" />
    <title>DeMiAインターン</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <p>ユーザーネーム{{form.username}}</p>
            {{form.username.errors}}
            <p>メールアドレス{{form.email}}</p>
            {{form.email.errors}}
            <p>アイコン{{form.icon}}</p>
            {{form.icon.errors}}
            <button type = "submit">変更</button>
        </table>
    </form>
</body>
</html>