{% extends 'myapp/base.html' %}

{% load static %} 

{% block title %}
    Chat Apps | PASSWORD UPDATE DONE
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href=" {% static 'myapp/css/login.css' %}">
{% endblock %}

{% block header-title %}
    パスワード
{% endblock %}

{% block content %}
    変更が完了しました。
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container__item">
                <a href="{% url 'friends' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img class="footer-icon" src="{% static 'myapp/img/people-24px.svg' %}"></span>
                    <span class="footer-item__text">友達</span>
                </a>
            </div>
            <div class="footer-container__item">
                <a href="{% url 'setting' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img class="footer-icon" src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                    <span class="footer-item__text">設定</span>
                </a>
            </div>
        </div>
    </footer>
{% endblock %}