{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">{% endblock %}

{% block header-title %}メールアドレス変更{% endblock %}

{% block content %}
メールアドレス変更完了
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="footer-container bg-gray-200">
        <div class="footer-container__item">
            <a href="{% url 'myapp:profile' %}" class="footer-item__link">
                <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span>
                <span class="footer-item__text">友達</span>
            </a>
        </div>
        <div class="footer-container__item">
            <a href="{% url 'myapp:setting' %}" class="footer-item__link">
                <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                <span class="footer-item__text">設定</span>
            </a>
        </div>
    </div>
</footer>
{% endblock %}
