{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<!--<link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}" />-->
{% endblock %}

{% block header %}
{% block header-title %}
<h1>ユーザー名変更</h1>
{% endblock %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">変更する</button>
</form>
{% if form.errors %}
    <ul>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'setting' %}">戻る</a>
{% endblock %}