{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
{% endblock %}

{% block header_title %}メール認証{% endblock %}

{% block content %}
<form method="POST" action="{% url 'verify' %}" class="login-form">
    {% csrf_token %}
    <div class="login-form_authentication">
        <label>メール認証：</label>
        {{ form.mail_authentication }}
        {{ form.mail_authentication.errors }}
    </div>
    <button type="submit" class="login-form__submit">認証</button>
</form>
{% endblock %}

{% block footer %}{% endblock %}